<!DOCTYPE html>
<html lang="<%= config.language %>">
<%- partial('_partials/head') %>
<body>
<%- body %>
<%- partial('_partials/scripts') %>
<% if (theme.plugins.aplayer.enable) { %>
    <%- partial('_plugins/aplayer') %>
<% } %>
<!-- </body>
<script src="/live2d-widget/autoload.js"></script>

<script src="https://blog-static.cnblogs.com/files/blogs/693306/mouse.min.js"></script>
<script type="text/javascript">$.shuicheMouse({type:11,color:false})</script>
</html>
 -->